BioTech/Bioinformatics/Tools/DADA2/barcode05_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode07_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode08_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode10_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode11_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode13_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode14_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode15_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode16_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode19_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode21_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode22_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode23_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode24_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode49_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode50_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode51_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode52_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode54_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode55_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode56_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode57_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode58_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode60_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode61_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode62_FITS_taxaPrint.csv
BioTech/Bioinformatics/Tools/DADA2/barcode63_FITS_taxaPrint.csv
BioTech/Bioinformatics/Chaparral/Python Scripts/blast-all.py
BioTech/Bioinformatics/Chaparral/Python Scripts/blast.py
BioTech/Bioinformatics/Chaparral/Python Scripts/circle-chart.py
BioTech/Bioinformatics/Chaparral/Python Scripts/combine_raw.py
BioTech/Bioinformatics/Chaparral/Python Scripts/combine_summaries_case.py
BioTech/Bioinformatics/Chaparral/Python Scripts/count-partial.py
BioTech/Bioinformatics/Chaparral/Python Scripts/count_sum.py
BioTech/Bioinformatics/Chaparral/Python Scripts/cutadapt-simple.py
BioTech/Bioinformatics/Chaparral/Python Scripts/dada2_blast_compare.py
BioTech/Bioinformatics/Chaparral/Python Scripts/ITSx-full.py
BioTech/Bioinformatics/Chaparral/Python Scripts/ITSx.py
BioTech/Bioinformatics/Chaparral/Python Scripts/ITSx_raw.py
BioTech/Bioinformatics/Chaparral/Python Scripts/nanoclust.py
BioTech/Bioinformatics/Chaparral/Python Scripts/nanofilt.log
BioTech/Bioinformatics/Chaparral/Python Scripts/nanofilt.py
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/average_genus.py
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/averaged_count_dna_counts.csv
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/CALeDNA-Primers.png
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/Chaney-Trail-Focus.png
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/Chaney-Trail-Full.png
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/Chaparral-Wildfire.txt
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/cluster.py
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/combine_summaries.py
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/cutadapt-blastn.py
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/cutadapt-fungi-crash-proof.py
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/cutadapt-fungi.py
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/cutadapt-input.py
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/cutadapt-skip.py
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/cutadapt-vsearch.py
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/cutadapt.py
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/dna_counts-1.csv
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/dna_counts-2.csv
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/dna_counts.csv
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/dna_counts_final_sorted.csv
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/filtered_genus_b_counts.csv
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/filtered_genus_counts.csv
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/ITSx.txt
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/mafft.py
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/primer_gatherer.py
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/primer_guess.py
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/run_porechop_wsl.py
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/Screenshot 2025-05-10 204411.png
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/Screenshot 2025-05-21 020106.png
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/sum_genus.py
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/summarize_from_fasta.py
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/summary_gather.py
BioTech/Bioinformatics/Chaparral/Python Scripts/Old_Scripts/unzip-nanopore.py
BioTech/Bioinformatics/Chaparral/Python Scripts/protein-predict.py
BioTech/Bioinformatics/Chaparral/Python Scripts/vsearch.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/blast-all.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/blast.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/circle-chart.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/combine_raw.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/combine_summaries_case.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/count-partial.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/count_sum.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/cutadapt-simple.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/dada2_blast_compare.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/ITSx.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/ITSx_vsearch_qiime.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/nanoclust.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/nanofilt.log
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/nanofilt.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/average_genus.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/averaged_count_dna_counts.csv
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/CALeDNA-Primers.png
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/Chaney-Trail-Focus.png
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/Chaney-Trail-Full.png
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/Chaparral-Wildfire.txt
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/cluster.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/combine_summaries.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/cutadapt-blastn.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/cutadapt-fungi-crash-proof.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/cutadapt-fungi.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/cutadapt-input.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/cutadapt-skip.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/cutadapt-vsearch.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/cutadapt.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/dna_counts-1.csv
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/dna_counts-2.csv
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/dna_counts.csv
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/dna_counts_final_sorted.csv
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/filtered_genus_b_counts.csv
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/filtered_genus_counts.csv
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/ITSx.txt
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/mafft.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/primer_gatherer.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/primer_guess.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/run_porechop_wsl.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/Screenshot 2025-05-10 204411.png
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/Screenshot 2025-05-21 020106.png
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/sum_genus.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/summarize_from_fasta.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/summary_gather.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/Old_Scripts/unzip-nanopore.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/protein-predict.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/vsearch.py
BioTech/Bioinformatics/Chaparral/Python-Scripts/Backup/vsearch_vs_dada2.py
BioTech/Bioinformatics/Tools/UNITE/QIIME/sh_qiime_release_19.02.2025/._QIIME_ITS_readme_19.02.2025.pdf
BioTech/Bioinformatics/Tools/UNITE/QIIME/sh_qiime_release_19.02.2025/developer/sh_refs_qiime_ver10_97_19.02.2025_dev.fasta
BioTech/Bioinformatics/Tools/UNITE/QIIME/sh_qiime_release_19.02.2025/developer/sh_refs_qiime_ver10_99_19.02.2025_dev.fasta
BioTech/Bioinformatics/Tools/UNITE/QIIME/sh_qiime_release_19.02.2025/developer/sh_refs_qiime_ver10_dynamic_19.02.2025_dev.fasta
BioTech/Bioinformatics/Tools/UNITE/QIIME/sh_qiime_release_19.02.2025/developer/sh_taxonomy_qiime_ver10_97_19.02.2025_dev.txt
BioTech/Bioinformatics/Tools/UNITE/QIIME/sh_qiime_release_19.02.2025/developer/sh_taxonomy_qiime_ver10_99_19.02.2025_dev.txt
BioTech/Bioinformatics/Tools/UNITE/QIIME/sh_qiime_release_19.02.2025/developer/sh_taxonomy_qiime_ver10_dynamic_19.02.2025_dev.txt
BioTech/Bioinformatics/Tools/UNITE/QIIME/sh_qiime_release_19.02.2025/QIIME_ITS_readme_19.02.2025.pdf
BioTech/Bioinformatics/Tools/UNITE/QIIME/sh_qiime_release_19.02.2025/sh_refs_qiime_ver10_97_19.02.2025.fasta
BioTech/Bioinformatics/Tools/UNITE/QIIME/sh_qiime_release_19.02.2025/sh_refs_qiime_ver10_97_19.02.2025_sintax.fasta
BioTech/Bioinformatics/Tools/UNITE/QIIME/sh_qiime_release_19.02.2025/sh_refs_qiime_ver10_99_19.02.2025.fasta
BioTech/Bioinformatics/Tools/UNITE/QIIME/sh_qiime_release_19.02.2025/sh_refs_qiime_ver10_dynamic_19.02.2025.fasta
BioTech/Bioinformatics/Tools/UNITE/QIIME/sh_qiime_release_19.02.2025/sh_taxonomy_qiime_ver10_97_19.02.2025.txt
BioTech/Bioinformatics/Tools/UNITE/QIIME/sh_qiime_release_19.02.2025/sh_taxonomy_qiime_ver10_99_19.02.2025.txt
BioTech/Bioinformatics/Tools/UNITE/QIIME/sh_qiime_release_19.02.2025/sh_taxonomy_qiime_ver10_dynamic_19.02.2025.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode05/barcode05_18S.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode05/barcode05_FITS.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode05/barcode05_FITS_PITS_18S.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode05/barcode05_FITS_taxaPrint.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode05/barcode05_genus_species_comparison.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode05/barcode05_PITS.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode05/barcode05_species_count_comparison.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode05/comparison_vsearch_dada2_05.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode05/ITSx-old/barcode05_combined_ITSx.graph
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode05/ITSx/barcode05_combined_ITSx.graph
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode05/ITSx/combined_species_barcode05.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode05/ITSx/comparison_vsearch_dada2_05.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode05/ITSx/sintax_results_ITS1.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode05/ITSx/sintax_results_ITS2.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode05/ITSx/sintax_results_LSU.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode05/ITSx/sintax_results_SSU.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode05/ITSx/species_counts_barcode05.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode05/ITSx/species_counts_barcode05_species92plus.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode07/barcode07_18S.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode07/barcode07_FITS.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode07/barcode07_FITS_PITS_18S.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode07/barcode07_FITS_taxaPrint.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode07/barcode07_PITS.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode07/comparison_vsearch_dada2_07.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode07/ITSx/combined_species_barcode07.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode07/ITSx/sintax_results_ITS1.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode07/ITSx/sintax_results_ITS2.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode07/ITSx/sintax_results_LSU.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode07/ITSx/sintax_results_SSU.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode07/ITSx/species_counts_barcode07.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode07/ITSx/species_counts_barcode07_species92plus.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode08/barcode08_18S.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode08/barcode08_FITS.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode08/barcode08_FITS_taxaPrint.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode08/barcode08_genus_species_comparison.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode08/barcode08_PITS.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode08/comparison_vsearch_dada2_08.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode08/ITSx/combined_species_barcode08.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode08/ITSx/comparison_vsearch_dada2_08.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode08/ITSx/sintax_results_ITS1.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode08/ITSx/sintax_results_ITS2.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode08/ITSx/sintax_results_LSU.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode08/ITSx/sintax_results_SSU.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode08/ITSx/species_counts_barcode08.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode08/ITSx/species_counts_barcode08_species92plus.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode10/barcode10_18S.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode10/barcode10_FITS.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode10/barcode10_FITS_taxaPrint.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode10/barcode10_genus_species_comparison.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode10/barcode10_PITS.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode10/comparison_vsearch_dada2_10.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode10/ITSx/combined_species_barcode10.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode10/ITSx/sintax_results_ITS1.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode10/ITSx/sintax_results_ITS2.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode10/ITSx/sintax_results_LSU.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode10/ITSx/sintax_results_SSU.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode10/ITSx/species_counts_barcode10.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode10/ITSx/species_counts_barcode10_species92plus.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode11/barcode11_18S.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode11/barcode11_FITS.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode11/barcode11_FITS_taxaPrint.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode11/barcode11_genus_species_comparison.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode11/barcode11_PITS.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode11/comparison_vsearch_dada2_11.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode11/ITSx/combined_species_barcode11.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode11/ITSx/sintax_results_ITS1.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode11/ITSx/sintax_results_ITS2.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode11/ITSx/sintax_results_LSU.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode11/ITSx/sintax_results_SSU.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode11/ITSx/species_counts_barcode11.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode11/ITSx/species_counts_barcode11_species92plus.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode13/barcode13_18S.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode13/barcode13_FITS.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode13/barcode13_FITS_taxaPrint.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode13/barcode13_genus_species_comparison.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode13/barcode13_PITS.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode13/comparison_vsearch_dada2_13.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode13/ITSx/combined_species_barcode13.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode13/ITSx/sintax_results_ITS1.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode13/ITSx/sintax_results_ITS2.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode13/ITSx/sintax_results_LSU.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode13/ITSx/sintax_results_SSU.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode13/ITSx/species_counts_barcode13.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode13/ITSx/species_counts_barcode13_species92plus.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode14/barcode14_18S.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode14/barcode14_FITS.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode14/barcode14_FITS_taxaPrint.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode14/barcode14_genus_species_comparison.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode14/barcode14_PITS.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode14/comparison_vsearch_dada2_14.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode14/ITSx/combined_species_barcode14.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode14/ITSx/sintax_results_ITS1.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode14/ITSx/sintax_results_ITS2.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode14/ITSx/sintax_results_LSU.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode14/ITSx/sintax_results_SSU.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode14/ITSx/species_counts_barcode14.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode14/ITSx/species_counts_barcode14_species92plus.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode15/barcode15_18S.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode15/barcode15_FITS.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode15/barcode15_FITS_taxaPrint.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode15/barcode15_genus_species_comparison.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode15/barcode15_PITS.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode15/comparison_vsearch_dada2_15.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode15/ITSx/combined_species_barcode15.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode15/ITSx/sintax_results_ITS1.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode15/ITSx/sintax_results_ITS2.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode15/ITSx/sintax_results_LSU.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode15/ITSx/sintax_results_SSU.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode15/ITSx/species_counts_barcode15.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode15/ITSx/species_counts_barcode15_species92plus.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode16/barcode16_18S.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode16/barcode16_FITS.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode16/barcode16_FITS_taxaPrint.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode16/barcode16_genus_species_comparison.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode16/barcode16_PITS.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode16/comparison_vsearch_dada2_16.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode16/ITSx/combined_species_barcode16.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode16/ITSx/sintax_results_ITS1.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode16/ITSx/sintax_results_ITS2.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode16/ITSx/sintax_results_LSU.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode16/ITSx/sintax_results_SSU.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode16/ITSx/species_counts_barcode16.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode16/ITSx/species_counts_barcode16_species92plus.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode17/ITSx/combined_species_barcode17.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode17/ITSx/species_counts_barcode17.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode17/ITSx/species_counts_barcode17_species92plus.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode19/barcode19_18S.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode19/barcode19_FITS.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode19/barcode19_FITS_taxaPrint.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode19/barcode19_genus_species_comparison.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode19/barcode19_PITS.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode19/comparison_vsearch_dada2_19.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode19/ITSx/combined_species_barcode19.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode19/ITSx/sintax_results_ITS1.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode19/ITSx/sintax_results_ITS2.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode19/ITSx/sintax_results_LSU.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode19/ITSx/sintax_results_SSU.txt
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode19/ITSx/species_counts_barcode19.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode19/ITSx/species_counts_barcode19_species92plus.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode21/barcode21_18S.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode21/barcode21_FITS.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode21/barcode21_FITS_taxaPrint.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode21/barcode21_genus_species_comparison.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode21/barcode21_PITS.fasta
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode21/comparison_vsearch_dada2_21.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode21/ITSx/combined_species_barcode21.csv
BioTech/Bioinformatics/Chaparral/Wildfire-Sequences/fastq_pass/barcode21/ITSx/sintax_results_ITS1.txt
*.graph
